
@import url('css/navbar.css');
@import url('css/intro.css');
@import url('css/signup.css');
@import url('css/qualify.css');
@import url('css/testimonies.css');
@import url('css/facts.css');
@import url('css/taste.css');
@import url('css/about.css');
@import url('css/contact.css');
@import url('css/footer.css');
@import url('css/containers.css');

body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
 background-color: #EA5340;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}
